body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  width: 80%;
  margin: 0 auto;
}

.actor {
  margin-bottom: 2rem;
  border-bottom: 1px solid grey;
}

.actor-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
